%section
	%article
		= simple_format tagged(item.message)
		%aside
			= raw "#{link_to item.user.username, item.user} posted this #{time_ago_in_words item.created_at} ago"
	%article
		= render item.item