%section.composer
	= link_to "New", "#"
	= form_for object, url: composer_link_room_path(object.room), remote: true do |f|
		%section
			= f.fields_for :link do |o|
				= o.text_field :url, placeholder: "http://.."
			= f.text_area :message, placeholder: "Enter a message..."
		= f.button :submit